<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Categorycontroller</display-name>
    <servlet-name>Categorycontroller</servlet-name>
    <servlet-class>vn.iotstar.controller.admin.Categorycontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categorycontroller</servlet-name>
    <url-pattern>/Categorycontroller</url-pattern>
  </servlet-mapping>
  <display-name>SpringBoot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>vn.iotstar.entity.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Video</display-name>
    <servlet-name>Video</servlet-name>
    <servlet-class>vn.iotstar.entity.Video</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Video</servlet-name>
    <url-pattern>/Video</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryModel</display-name>
    <servlet-name>CategoryModel</servlet-name>
    <servlet-class>vn.iotstar.model.CategoryModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryModel</servlet-name>
    <url-pattern>/CategoryModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoModel</display-name>
    <servlet-name>VideoModel</servlet-name>
    <servlet-class>vn.iotstar.model.VideoModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoModel</servlet-name>
    <url-pattern>/VideoModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryReponsitory</display-name>
    <servlet-name>CategoryReponsitory</servlet-name>
    <servlet-class>vn.iotstar.reponsitory.CategoryReponsitory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryReponsitory</servlet-name>
    <url-pattern>/CategoryReponsitory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryService</display-name>
    <servlet-name>CategoryService</servlet-name>
    <servlet-class>vn.iotstar.service.CategoryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryService</servlet-name>
    <url-pattern>/CategoryService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServiceImpl</display-name>
    <servlet-name>CategoryServiceImpl</servlet-name>
    <servlet-class>vn.iotstar.service.impl.CategoryServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServiceImpl</servlet-name>
    <url-pattern>/CategoryServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoSpringBootApp</display-name>
    <servlet-name>DemoSpringBootApp</servlet-name>
    <servlet-class>vn.iotstar.DemoSpringBootApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoSpringBootApp</servlet-name>
    <url-pattern>/DemoSpringBootApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADS</display-name>
    <servlet-name>ADS</servlet-name>
    <servlet-class>vn.iotstar.ADS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADS</servlet-name>
    <url-pattern>/ADS</url-pattern>
  </servlet-mapping>
</web-app>